@import "./variable.scss";

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: $white-color;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: $black-color;
  position: relative;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: $desktop-sm) {
    max-width: 801px;
    padding: 0 24px;
    width: 100%;
  }
  max-width: 1440px;
  width: 100%;
  padding: 0 120px;
}

.button-primary {
    width: fit-content;
    padding: 5px 15px;
    background-color: transparent;
    color: $white-color;
    border: 1px solid $white-color;
    text-align: center;
    font-size: 14px;
    line-height: 22.9px;
    font-weight: 300;
    border-radius: 10px;
    margin-right: 21px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
      background-color: $small-btn-bg-color;
      border: 1px solid $small-btn-bg-color;
    }
  @media screen and (min-width: $desktop-sm) {
    font-size: 16px;
    line-height: 25.8px;
    font-weight: 300;
    border-radius: 10px;
  }

  }

.button-secondary {
  margin-right: 15px;
  width: fit-content;
  padding: 4px 10px;
  background-color: $small-btn-bg-color;
  color: $white-color;
  border: none;
  border-radius: 9px;
  text-align: center;
  font-size: 12px;
  line-height: 25.8px;
  font-weight: 300;
  margin-bottom: 15px;
  @media screen and (min-width: $desktop-sm) {
    font-size: 16px;
    line-height: 25.8px;
    font-weight: 300;
    margin-bottom: 21px;
  padding: 4px 12px;
  margin-right: 21px;


  }

}

.sub-title{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0.75;
  margin-bottom: 5px;
  @media screen and (min-width: $desktop-sm) {
    font-size: 16px;
    margin-bottom: 10px;
  }

}
.sub-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
  @media screen and (min-width: $desktop-sm) {
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 30px;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 25.8px;
  margin-bottom: 15px;
  @media screen and (min-width: $desktop-sm) {
    font-size: 22px;
    font-weight: 600;
    line-height: 35.5px;
    margin-bottom: 21px;
  }
}

.body-txt {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.8px;
  margin-bottom: 15px;
  color: #D8D8D8;
  @media screen and (min-width: $desktop-sm) {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 21px;
  }
}
li {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.8px;
  margin-bottom: 10px;
  @media screen and (min-width: $desktop-sm) {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 21px;
  }
}

strong {
  font-weight: 500;
}

.card {
  padding: 20px;
  background-color: $card-bg-color;
  @media screen and (min-width: $desktop-sm) {
    padding: 40px;
  }
}
.m-0{
  margin: 0;
}
.m-15 {
  margin-bottom: 8px;
  @media screen and (min-width: $desktop-sm) {
    margin-bottom: 15px;
  }
}

.m-21 {
  margin-bottom: 15px;
  @media screen and (min-width: $desktop-sm) {
    margin-bottom: 21px;
  }
}
.m-30 {
  margin-bottom: 15px;
  @media screen and (min-width: $desktop-sm) {
    margin-bottom: 30px;
  }
}
.m-40 {
  margin-bottom: 20px;
  @media screen and (min-width: $desktop-sm) {
    margin-bottom: 40px;
  }
}
.m-60 {
  margin-bottom: 30px;
  @media screen and (min-width: $desktop-sm) {
    margin-bottom: 60px;
  }
}
.m-120 {
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-sm) {
    margin-bottom: 120px;
  }
}

.sub-heading{
  img{
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 5px;
  }
}
button{
  img{
      vertical-align: middle;
      margin-left: 5px;
  }
}
hr{
  opacity: 0.75;
  margin: 40px 0;
  @media screen and (min-width: $desktop-sm) {
  margin: 60px 0;
  }
}

.b-500{
  font-weight: 500;
}
.f-24{
  font-size: 18px;
  @media screen and (min-width: $desktop-sm) {
  font-size: 24px;

  }
}

.resume{
  font-size: 22px;
  font-weight: 500;
  img{
    vertical-align: middle;
    margin-right: 5px;
  }
}
.mobile{
  @media screen and (min-width: $desktop-sm) {
   display: none;
  
    }
}

.card .button-primary{
  margin-top: 5px;
}

.red{
  color: red;
}