.contact-wrapper {
  text-align: center;
  padding: 0 0px;
  @media screen and (min-width: $desktop-sm) {
    padding: 0 30px;
  }

  form {
    input {
      width: 100%;
      display: block;
      color: $white-color;
      padding: 15px 0;
      border: 0;
      border-bottom: 1px solid $white-color;
      background: transparent;
      font-size: 18px;
      &::placeholder {
        color: $small-btn-bg-color;
        font-size: 18px;
        font-family: 500;
        padding: 5px 0;
      }
      &:focus{
        border: none;
        background-color: transparent;
      }
  @media screen and (max-width: $desktop-sm) {
    font-size: 16px;
  }
     
    }
    button{
      margin-top: 30px;
      width: 50%;
    }
  }
  .bottom-wrapper{
    text-align: left;
    margin:30px 0;
  @media screen and (min-width: $desktop-sm) {
    margin:60px 0;

  }
  .bottom{
    font-weight: 500;
    img{
        vertical-align: middle;
        margin-right: 5px;
        margin-bottom: 2px;
    }
  }
}
}
